<h1>Welcome, <%= current_user.name%></h1>
<h2>You sure do have a great selection!</h2>

<p>Your Songbook has <%=current_user.songs.size %> song(s).</p>

<br>
<br>
<br>
<br><a href='/songs'>View List of Songs</a>
<br><a href='/songs/new'>Add a Song</a>
<br><a href='/logout'>Log Out</a>