<form method="POST" action="/songs/<%= @song.id %>">

<input id="hidden" type="hidden" name="_method" value="PATCH">
<h1>Edit Song Info</h1>

<p><label>Name: </label>
<input type="text" name="name" placeholder="Name"></p>
<p><label>Artist: </label>
<input type="text" name="artist" placeholder="Artist"></p>
<p><label>Genre: </label>
<input type="text" name="genre" placeholder="Genre"></p>
<input type="submit" value="Submit">
</form>

<br><a href='/users/home'>View Homepage</a>
<br><a href='/songs'>View List of Songs</a>
<br><a href='/songs/new'>Add a Song</a>
<br><a href='/logout'>Log Out</a>
</body>
