<h1>My Favorite Songs to Play</h1>
<ol type = "1"><% @songs.each do |song| %>
<h4><li><%= song.name %> by <%= song.artist %></li></h4><a href="/songs/<%= song.id %>/edit">Edit</a> <a href="/songs/<%= song.id %>">View</a>
<% end %></ol>
<br>
<br>
<br>
<br><a href='/users/home'>View Homepage</a>
<br><a href='/songs/new'>Add a Song</a>
<br><a href='/logout'>Log Out</a>

