<h1>My Golden Songbook</h1>

<ol type = "1"><% @songs.each do |song| %>

<h4><li><%= song.name %> by <%= song.artist %></li></h4> <a href="/songs/<%= song.id %>">View</a>
<%if song.user == current_user%><a href="/songs/<%= song.id %>/edit">Edit</a><%end%>
<% end %></ol>
<br>
<br>
<br>
<br><a href='/users/home'>View Homepage</a>
<br><a href='/songs/new'>Add a Song</a>
<br><a href='/logout'>Log Out</a>

