<h1>Song Info</h1>

Name: <%= @song.name %>
<br>
Artist: <%= @song.artist %>
<br>
Genre: <%= @song.genre %>
<br>
<br>
<form method="POST" action="/songs/<%= @song.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>

<br><a href='/songs/new'>Add Another Song</a>
<br><a href='/users/home'>View Homepage</a>
<br><a href='/songs'>View List of Songs</a>
<br><a href='/logout'>Log Out</a>