<form method="POST" action="/songs/<%= @song.id %>">
<%binding.pry%>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<h1>Edit Song Info</h1>
<p>Name: <input type="text" name="name" placeholder="Name"></p>
<p>Artist: <input type="text" name="artist" placeholder="Artist"></p>
<p>Year: <input type="text" name="year" placeholder="Year"></p>
<p>Genre: <input type="text" name="genre" placeholder="Genre"></p>
<input type="submit" value="Submit">
</form>