<h1>Welcome to Golden Songbook!</h1>
<h3>For Musicians and Music-Lovers, track your favorites right here</h3>
<h4>Please sign up or log in if you already have an account</h4>
<a href="/signup"> Sign Up</a>
<br>
<a href="/login"> Log In</a>
