<h1>Welcome to Golden Songbook!</h1>
<h3>For Musicians and Music-Lovers, track your favorite songs right here</h3>
<h4>Please sign up or log in if you already have an account</h4>
<a href="/signup"> Sign Up</a>
<br>
<a href="/login"> Log In</a>
<br>
<br>
<img src="https://lh3.googleusercontent.com/ETnAEvY21-DY03Rwl-s1BAfr7CPnLeETwDs8ub1xlWJuKonc3PuuXAFBlSKZXg6Kc-T1zLXgcaGW4nA0SugyQdjaSW_pf0fDy2-c_nTVctlIPu4bYsqUc3R4OxeqzBleFXH56M71boic7ilzgBKDoJZbv_SjT0zfD50x6uMVA5pK54NdaMI_-NkRTK3NYlYJOcwNlGBvDhW-n9po3bANSrJZRM2ZIDXY3tnrRPkviUTMCND43irNB4imf2p9QmzpK-JEvdjvy_4sCMqAgmEPB5eXIlWrxg61LJ419063KxETAbpN10YsxOkbYDKgDflAb-Fl0zorMTqnBr7X0ZfUyeCpUzqtfjmhcVTS5gMw7k5b2AAYtMDIcsvMuS8Jcjfx2LM3oYdOrmeWN9mXswQwyEJApFH2t-9MnwMW_gnOoOgH3VV6pMzw0gF0r_4vQJay3pqVc8K7eNLo3pS0PSXuGY4Y1cWGv5_8BX02AN8XdupMFyAuN-ZdUkFHpkIKbiMmfIe2M1GWw-V1oK9Yyih77fS-OcNbieE-CgfKeWZ4i-XSvvT5xoAdyfNxWrvgKlmb6ptKhiYAnnFai3v8kRjESdjmIBWijUFgP6ic-V20_ar28lRB-ba7K9cTRFa-mgrhk0klR3Dbzt0Zw94Om_q_zhD4RDOKAtnTdY1Th2DtCIyIifU2ZNpw6MsbVLHZIg=w600-h316-no?authuser=0" alt="golden hour">
