<!DOCTYPE html>
<html>
    <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
        <h1>Welcome to Golden Songbook!</h1>
        <h4>Please sign up or log in if you already have an account</h4>
        <a href="/signup"> Sign Up</a>
        <br>
        <a href="/login"> Log In</a>
    </head>
</html>