<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Golden SongBook</title>
    <link rel="icon" href="https://i.pinimg.com/originals/ca/18/7b/ca187b7f7fd9c305cacd9f756fca7ecc.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/main.css" >
    </head>
    <body>
        <%= yield %>
    </body>
</html>